{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <title>{% block title %}{% endblock %}iBet</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/carousel.css' %}" rel="stylesheet">
  </head>
  <body>

        <header>
          <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">iBet</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Sports</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Casino</a>
                </li>
              </ul>
              <form class="form-inline mt-2 mt-md-0">

                <a class="btn btn-outline-success my-2 my-sm-0" role="button" href="{% url 'signup' %}">Join</a>
                <a class="nav-link" href="{% url 'login' %}">Sign in</a>
              </form>
            </div>
          </nav>
        </header>
    {% block body %}
    {% endblock %}
  </body>

        <!-- FOOTER -->
        <footer class="container">
          <p class="float-right"><a href="#">Back to top</a></p>
          <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
      </main>

      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write("<script src=\"{% static 'assets/js/vendor/jquery-slim.min.js'%}\"><\/script>")</script>
      <script src="{% static 'assets/js/vendor/popper.min.js' %}"></script>
      <script src="{% static 'dist/js/bootstrap.min.js' %}"></script>
      <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
      <script src="{% static 'assets/js/vendor/holder.min.js' %}"></script>
    </body>
  </html>
